li {
    list-style-type: none;
    border: 1px solid #c0a97a;
    box-shadow: 0 2px 4px 0 #c0a97a;
    margin-bottom: 8px;
    color: black;
    background-color: white;
    padding: 5px;
}
li:hover {
    border: 2px solid #c0a97a;
    color: #c0a97a;
    background: black;
}
img {
    max-width: 100%;
    max-height: 100%;
}
.category-goods {
    /*margin: 2px;*/
    border: 1px solid #c0a97a;
    padding: 0;
}
.image {
    width: 120px;
    height: 150px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;

}
.details {
    margin-bottom: 5px;
}
.category-goods h6 {
    margin-top: 5px;
}
.modal__window {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
}
.modal__content {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.hide__modal {
    display: none;
}